language: android
android:
  components:
    - tools
    - platform-tools
    # The BuildTools version used by your project
    - build-tools-28.0.2
    # The SDK version used to compile your project
    - android-26
  before_script:
    - sudo apt-get install -y node-uglify
  script:
    - ./gradlew clean build assembleFdroid
